<h1>Submit your work!</h1>

<%= form_for @submission do |f| %>

  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>

  <%= f.label :description, 'Description' %>
  <%= f.text_field :description %>

  <%= f.label :url, 'URL' %>
  <%= f.text_field :url %>

  <%= f.label :file, 'Upload a file' %>
  <%= f.file_field :file %>

  <% unless @submission.agreed? %>
    <%= f.label :agreed, 'Agree to the terms' %>
    <%= f.check_box(:agreed) %>
  <% end %>
  

  <%= f.submit 'Submit' %>
<% end %>