
<div class="jumbotron submission" style="background-image: url(<%= local_path_for(@submission) %>)">
</div>

<h1 class="page-header"><%= @submission.title %></h1>

<div class="row">
<div class="col-md-8">

<p>
  by 
  <span class="author">
    <%= link_to @submission.user_name, user_path(@submission.user) %>
  </span>  
</p>

<p>
  <%= @submission.description %>
</p>

</div>


<div class="col-md-4">

  <div class="row next-prev">
    <div class="col-md-4" id="prev">
      <%= link_to 'Previous', submission_path(@submission.prev) if @submission.prev %>
    </div>
    <div class="col-md-4" id="next">
      <%= link_to 'Next',     submission_path(@submission.next) if @submission.next %>
    </div>
  </div>

  <% if signed_in? && !current_user?(@submission.user) %>
    <div class="row rating">
      <div class="col-md-8">
        <p class="rating">
          Rate this entry!
        </p>
        <div class="rating" id="user-rating" style="background-image: url()"></div>
      </div>
    </div>

    <div class="row rating">
      <div class="col-md-8">
        <p class="rating">
          Average rating
        </p>
        <div class="rating" id="average-rating" style="background-image: url()"></div>
      </div>
    </div>
  <% end %>

  <div class="row social">
    <div class="col-md-8">
      <div class="share">
        <a href="https://twitter.com/share" data-text="Check out this great visualization by <%= @submission.user_name %>!" data-url="http://127.0.0.1:3000<%= submission_path(@submission) %>" data-via="GrandVizAuto" class="twitter-share-button" data-lang="en">Tweet</a>
      </div>

      <div class="share">
        <div class="fb-share-button" data-href="http://127.0.0.1:3000<%= submission_path(@submission) %>" data-type="button_count"></div>
      </div>
    </div>
  </div>

</div>

<script>

$(document).on('ready', function () {

  $('#average-rating').raty({
    readOnly: true,
    score: <%= @submission.average_rating %>,
    path: '/assets'
  });

  $('#user-rating').raty({
    score: '<%= @rating.score %>',
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        <% if @rating.score == 0 %>
        url: '/ratings/',
        type: 'POST',
        data: { rating: {
                  user_id: <%= current_user.id %>,
                  submission_id: <%= @submission.id %>,
                  score: score }
              }
        <% else %>
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PUT',
        data: { score: score }
        <% end %>
      });
    }
  });

})

</script>
