
<div class="jumbotron submission" style="background-image: url(<%= local_path_for(@submission) %>)">
</div>

<h1 class="page-header"><%= @submission.title %></h1>

<div class="row">
<div class="col-md-8">

  <p>
    by 
    <span class="author">
      <%= link_to @submission.user_name, user_path(@submission.user) %>
    </span>  
  </p>

  <p>
    <%= @submission.description %>
  </p>

  <p>
    <%= link_to @submission.url, @submission.url, target: "_blank" %>
  </p>

  <% if current_user?(@submission.user) %>
    <p>
      <%= link_to 'Edit', edit_submission_path(@submission), class: 'button btn-lg btn-warning' %>
    </p>
  <% end %>

</div>


<div class="col-md-4">

  <div class="row next-prev">

    <div class="col-md-4" id="prev">
      <% if @submission.prev %>   
        <%= link_to(submission_path(@submission.prev)) do %>
          <span class="fill">
            <%= image_tag local_path_for(@submission.prev) %>
            <p>
              Previous
            </p>
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4" id="next">
      <% if @submission.next %>   
        <%= link_to(submission_path(@submission.next)) do %>
          <span class="fill">
            <%= image_tag local_path_for(@submission.next) %>
            <p>
              Next
            </p>
          </span>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="row rating">
    <div class="col-md-8">
      <% if signed_in? && !current_user?(@submission.user) %>
        <p class="rating">
          Rate this entry!
        </p>
        <div class="rating" id="user-rating"></div>
      <% else %>
        <p class="rating">
          Sign in to rate this entry.
        </p>
      <% end %>
    </div>
  </div>

  <div class="row rating">
    <div class="col-md-8">
      <p class="rating">
        Average rating
      </p>
      <div class="rating" id="average-rating"></div>
    </div>
  </div>


  <div class="row social">
    <div class="col-md-8">
      <div class="share">
        <a href="https://twitter.com/share" data-text="Check out this great visualization by <%= @submission.user_name %>!" data-url="http://127.0.0.1:3000<%= submission_path(@submission) %>" data-via="37BillionMiles" class="twitter-share-button" data-lang="en">Tweet</a>
      </div>

      <div class="share">
        <div class="fb-share-button" data-href="http://127.0.0.1:3000<%= submission_path(@submission) %>" data-type="button_count"></div>
      </div>
    </div>
  </div>

</div>

<script>

$(document).on('ready', function () {

  $('#average-rating').raty({
    readOnly: true,
    score: <%= @submission.average_rating %>,
    path: '/assets'
  });

  <% if signed_in? && !current_user?(@submission.user) %>

    $('#user-rating').raty({
      score: '<%= @rating.score %>',
      path: '/assets',
      click: function(score, evt) {
        $.ajax({
          <% if @rating.score == 0 %>
          url: '/ratings/',
          type: 'POST',
          data: { rating: {
                    user_id: <%= current_user.id %>,
                    submission_id: <%= @submission.id %>,
                    score: score }
                }
          <% else %>
          url: '/ratings/' + <%= @rating.id %>,
          type: 'PUT',
          data: { score: score }
          <% end %>
        });
      }
    });
  <% end %>

  })

</script>