<!DOCTYPE html>
<html>
<head>
  <title>Grand Viz Auto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="user_nav">
  <% if signed_in? %>
    Glad you're here, <%= current_user.name %>.
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with GitHub", "/auth/github" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  <% end %>
</div>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"> <%= flash[:alert] %></p>

<% if signed_in? %>
  <button>Download the data</button>
<% end %>

<%= yield %>

</body>
</html>
