<!DOCTYPE html>
<html>
<head>
  <title>37 Billion Miles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/images/favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
</head>
<body data-spy="scroll" data-target="#collapsible-navbar" data-offset="250">
<div id="fb-root"></div>

<%= render 'layouts/header' %>

<div class="container">

  <%= render partial: 'layouts/flash', locals: { flash: flash } %>

  <div class="row">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>

</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=619695144770251";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
